@-webkit-keyframes infinite-spinning {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes infinite-spinning {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(360deg);
    }
}

.fadeBox{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.3);
}

.spinner{
    -webkit-animation: infinite-spinning 1s infinite linear;
    animation: infinite-spinning 1s infinite linear;
    width: 100px;
    min-height: 100px;
    margin: auto;
    padding-bottom: 250px;
    margin-top: 10%;
    display: block;
}

.s001{
    background: url(./ac1.png) no-repeat center;
    background-size: contain;
}
.s002{
    background: url(./ac2.png) no-repeat center;
    background-size: contain;
}
.s003{
    background: url(./ac3.png) no-repeat center;
    background-size: contain;
}
.s004{
    background: url(./ac4.png) no-repeat center;
    background-size: contain;
}
.s005{
    background: url(./ac5.png) no-repeat center;
    background-size: contain;
}
.s006{
    background: url(./ac6.png) no-repeat center;
    background-size: contain;
}

a{
    text-decoration: none;
}

p{
    text-align: justify;
    font-size: 20px;
}

ol{
    text-align: justify;
}

body{
    text-align: center;
    font-size: 20px;
    font-family: caf__breweryregular;
}

h1{
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 50px;
    font-family: caf__breweryregular;
}

h2{
    font-size: 20px;
    font-family: caf__breweryregular; 
}

.open{
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
    
    padding: 15px;
    margin: 15px;
    font-family: caf__breweryregular;
    color: black;
    background-color: none;
    border: solid black 2px;
    border-radius: 5px;
}

.open:hover{
    background-color: lightgreen;
}

.close {
    -webkit-transition:background-color 0.5s;
    transition: background-color 0.5s;
    
    padding: 15px;
    margin: 15px;
    font-family: caf__breweryregular;
    color: black;
    background-color: lightgray;
    border: solid black 2px;
    border-radius: 5px;
}

.close:hover{
    background-color: #ff99c2;
}
@font-face {
    font-family: 'caf__breweryregular';
    src: url('cafe--brewery-webfont.eot');
    src: url('cafe--brewery-webfont.eot?#iefix') format('embedded-opentype'),
         url('cafe--brewery-webfont.woff2') format('woff2'),
         url('cafe--brewery-webfont.woff') format('woff'),
         url('cafe--brewery-webfont.ttf') format('truetype'),
         url('cafe--brewery-webfont.svg#caf__breweryregular') format('svg');
    font-weight: normal;
    font-style: normal;

}